@page
@{
    ViewData["Title"] = "Registration Success";
}
<main role="main" class="pb-3">
    <h1>Registration Successfull</h1>

    <div class="alert alert-success alert-dismissible" role="alert">
        Congratulations, your accound has been successfully created.<a href="/Identity/Account/Login"> Continue</a>
    </div>

</main>